.applicant-profile-wrapper{
    width: 500px;
    background-color: aliceblue;
}
.green{
background-color: rgba(52, 201, 52, 0.471);
}
.red{
background-color: rgba(255, 0, 0, 0.516);
}
.add-job-component{
    background-color: #405bf576;
}
.myjobs-table{
    width:100%;
    text-align: center; 
    background-color: rgba(120, 100, 231, 0.153);
}
.all-candidate-list-table{   width:100%;
text-align: center; 
background-color: rgba(120, 100, 231, 0.153);
}


.job-list-table{
    width:100%;
    text-align: center;
}

.employer-options{
    height: 44px;
    width: 30%;
    background-color: #405bf576;
}
.small{
    min-height: 30px;
    min-width: 10%;
    background-color: rgba(98, 49, 212, 0.648);
}
.button-9 {
    appearance: button;
    backface-visibility: hidden;
    
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
   
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, #5833bc76 0 0 0 2px;
  }
  .employer-navbar{
    margin:5px;
    margin-bottom:20px;
  }
 

 /* table css */

  
