.candidate-page-container{
   
}
.job-list-wrapper{
    
}

.job-list-table{
    width:100%;
    text-align: center;
}

.JobPostingComponent{
    background-color: skyblue;
    margin: 20px;
    padding: 10px;
}

.JobApplicationComponent{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.ApplicationStatusComponent{
    width: 80px;
    padding: 5px;
    border-radius: 40px;
}